<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

  <!--    Bootstrap Declaration-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">


  <title>Employee Confirmation</title>
</head>
<body style="background-color: lightgray">
<!-- ============================================================== -->
<!--Start Header-->
<!-- ============================================================== -->
<div class="dashboard-header" style="background-color: #39b5e0" >
  <h2 style="color: white" th:align="center" >Employee List</h2>
</div>
<!-- ============================================================== -->
<!--End Header-->
<!-- ============================================================== -->
<!-- table  -->
<!-- ============================================================== -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${employee.firstName}"></td>
      <td th:text="${employee.lastName}"></td>
      <td th:text="${employee.getAge()}"></td>
      <td th:text="${employee.address +' '+ employee.address2}"></td>
      <td th:text="${employee.city}"></td>
      <td th:text="${employee.state}"></td>
      <td th:text="${employee.zip}"></td>
    </tr>
    </tbody>
  </table>
</div>
<!-- ============================================================== -->
<!-- end table  -->
<!-- ============================================================== -->
</body>
</html>